{% extends 'basedashboard.html.twig' %}

{% block body %}
    
    <section class="light-content our-team">
    {% for label, messages in app.flashes(['success', 'danger']) %}
        {% for message in messages %}
            <div class="alert-{{ label }} message-flash">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
<div class="container">
    
			<div class="row">
                
				<div class="col-md-12">
					<div class="section-header">
						<h2 class="section-title">Calendrier</h2>
						<a href="{{ path('evenement_new') }}" class="large-button green-color">Ajouter un événement</a>
					</div>
					<!-- /.section-header -->
				</div>
				<!-- /.col-md-12 -->
			</div>
			<!-- /.row -->
		</div>

    <div id="calendar-holder">
    </div>
    


{% block stylesheets %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/core@4.1.0/main.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@4.1.0/main.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/timegrid@4.1.0/main.min.css">
{% endblock %}


    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/core@4.1.0/main.min.js"></script>
    <script src='https://cdn.jsdelivr.net/npm/@fullcalendar/core@4.1.0/locales/fr.js'></script>
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/interaction@4.1.0/main.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@4.1.0/main.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/timegrid@4.1.0/main.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script> 
    

    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', () => {
            var calendarEl = document.getElementById('calendar-holder');

            var calendar = new FullCalendar.Calendar(calendarEl, {
                defaultView: 'dayGridMonth',
                editable: true,
                eventLimit: true, // for all non-TimeGrid views
                        views: {
                            timeGrid: {
                                eventLimit: 1 // adjust to 6 only for timeGridWeek/timeGridDay
                                        }
                                },   
                eventSources: [
                    {
                        url: "{{ path('fc_load_events') }}",
                        method: "POST",
                        extraParams: {
                            filters: JSON.stringify({})
                        },
                        failure: () => {
                            // alert("There was an error while fetching FullCalendar!");
                        },
                    },
                ],
                eventTimeFormat: { // like '14:30:00'
                        hour: '2-digit',
                        minute: '2-digit',
                        hour12: false
                        },
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay',
                },
                locale: 'fr',
                plugins: [ 'interaction', 'dayGrid', 'timeGrid' ],
                editable: true, // https://fullcalendar.io/docs/plugin-index
                timeZone: 'UTC',
            });
            calendar.render();
        });
    </script>
</br>
        
<div class="col-10">
<div class="add-event section-header">
    <h1 class="section-title">Liste des événéments du calendrier</h1>
        <a href="{{ path('evenement_new') }}" class="large-button green-color ">Ajouter un événement</a>
        </div>
    <table class="table">
    
        <thead>
            <tr>
                <th>Nom</th>
                <th>Type</th>
                <th>Début</th>
                <th>Fin</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for evenement in evenements %}
            <tr>
                <td>{{ evenement.name }}</td>
                <td>{{ evenement.type }}</td>
                <td>{{ evenement.beginAt ? evenement.beginAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ evenement.endAt ? evenement.endAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('evenement_show', {'id': evenement.id}) }}" class="large-button green-color">Détails</a>
                    <a href="{{ path('evenement_edit', {'id': evenement.id}) }}" class="large-button green-color">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">Aucun événement dans le Calendrier</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

    </section>

{% endblock %}