{% extends 'basedashboard.html.twig' %}

{% block body %}

<section class="light-content our-team">

		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="section-header">
						<h2 class="section-title">Mon Profil</h2>
					</div>
					<!-- /.section-header -->
				</div>
				<!-- /.col-md-12 -->
			</div>
			<!-- /.row -->
		</div>
		<!-- /.container -->

		<div class="font-poppinsdeux">
			<div class="wrapper wrapper--w780">
				<div class="card card-12">
					<div class="card-heading"></div>
					<div class="card-body">
						<h2 class="title">Modifier
						</h2>
						{{ form_start(form) }}
						{{ form_row(form.email)}}
						{{ form_row(form.password)}}
						{{ form_row(form.picture) }}
					<div class="p-t-10">
					<span style="color: #ffffff;">* Ces champs sont obligatoires</span>
							<button class="large-button white-color" type="submit">Valider</button>
					</div>
					{{ form_end(form) }}
					</br>{{ include('people/_delete_form.html.twig') }}
						</div>
					</br>

				</div>
			</div>
		</div>
		
	</section>



{% endblock %}