{% extends 'basedashboard.html.twig' %}


{% block body %}



<section class="light-content our-team">
{% for label, messages in app.flashes(['success', 'danger']) %}
        {% for message in messages %}
            <div class="alert-{{ label }} message-flash">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

		<div class="container">
			<div class="row">
	
				<div class="col-md-12">
					<div class="section-header">
						<h2 class="section-title">Mots des Professeurs</h2>
						<a href="{{ path('note_add') }}" class="large-button green-color">Ajouter</a>
{% for message in app.flashes('danger') %}
	<div class="alert alert-danger">
	{{ message }}
	</div>
{% endfor %}
					</div>
					<!-- /.section-header -->
				</div>
				<!-- /.col-md-12 -->
			</div>
			<!-- /.row -->
		</div>
		<!-- /.container -->

		{% for note in notes %}
			<div class="photo-card">
				<div class="photo-background" style="background-image:url('{{asset(note.file)}}'); ">
				</div>
				<div class="col-md-6">
				<div class="project-info"></br>
				<a href="{{ path('note_read', {'id': note.id}) }}">
				<h3 class="project-title">{{ note.name }}</h3></br>
				<span style="color:white;">Appartient à : {{ note.child }}</span>
			</br>
			<span class="date">Posté le:
				{{note.createdAt|date('d-m-Y')}}</span>
		</br>
	</br>
	{# <p class="description">Description:
		{{ note.description }}</p> #}
				</a><div class="p-t-10">
					<a href="{{ path('note_edit', {'id': note.id}) }}" class="large-button-blanc white-color">
						<button class="large-button-blanc white-color" type="submit">Modifier</button>
					</a>

</div>
				</div>
			</div>

		</div>
	{% endfor %}


</section>

{% endblock %}








