{% extends 'basedashboard.html.twig' %}


{% block body %}

<section class="light-content our-team">

		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="section-header">
						<h2 class="section-title">Santé</h2>
					</div>
					<!-- /.section-header -->
				</div>
				<!-- /.col-md-12 -->
			</div>
			<!-- /.row -->
		</div>
		<!-- /.container -->

		<div class="font-poppinsdeux">
			<div class="wrapper wrapper--w780">
				<div class="card card-11">
					<div class="card-heading"></div>
                    <div class="card-body">
                    <h2 class="title">Ajout Santé</h2>
						{{ form_start(form) }}
						{{ form_row(form.name) }}
						{{ form_row(form.description) }}
						{{ form_row(form.child) }}
						{{ form_row(form.file) }}
						


						<div class="p-t-10">
						<span style="color: #ffffff;">* Ces champs sont obligatoires</span>
							<button class="large-button white-color" type="submit">Valider</button>

						</div>

					</div>
				</div>
			</div>
			{{ form_end(form) }}
		</section>

{% endblock %}
